*{
	
	padding:0;
	box-sizing: border-box;
}

html, body{
	height: 100%;
	 overflow: hidden; 
	background: rgb(250, 250, 250);
	background-image: url("/img/bg-img.jpg");
	background-position: center;
	background-size: cover;

}

section{
	width: 100%;
	background: #fff;	
	height: 200px;
	max-height: 80vh;	
	/* margin: auto; */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -70%)
	
}
.login-box{
	border-radius:  5px 5px 5px 5px;
-moz-border-radius: 5px 5px 5px 5px;
-webkit-border-radius:  5px 5px 5px 5px;
}

.sidebox , .login-box{
	height: 100%;
	width: 100%;
}
.side-box, .login-box{
	background-image: linear-gradient(to top, rgba(75, 141, 127, 0.842) 0%, #22443B  100%);
}
.side-box{
	border-radius: 5px 5px 5px 5px;
-moz-border-radius:  5px 5px 5px 5px;
-webkit-border-radius: 5px 5px 5px 5px;
}

.header {
    line-height: 1.66;
    margin: 0;
    padding: 0;
    color: rgb(240, 240, 240);
    text-align: center;
    margin-bottom: 25px; }

p {
    margin-bottom: 0px;
    font-size: 15px;
    color: rgb(66, 66, 66); }

.login-box > .signup{
	float: right;
	margin-right: 10px;
}

.header{
	color: aliceblue;
}
form a{
	text-decoration: none;
	line-height: 1.8;
    color: #222;
	font-weight: 700;
	margin: 0;
}


p > a:focus,p > a:hover {
    text-decoration: none;
	outline: none;
	color: #222;
	cursor: pointer;
    transition: all 300ms ease 0s;
	}
	
input, select, textarea{
	outline: none;    
	border-radius: 6px;
	}

button{
	background-image: linear-gradient(to top, rgba(75, 141, 127, 0.842) 0%, #22443B  100%);
	border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    border: none;
}

/*  Responsive media query*/
@media (max-width: 768px){
	section{
		position: absolute;
		top: 25%;
		max-height: 30vh;
	}

	.side-box, .login-box{
		padding: 0px;
		height: 100%;

	}
	.side-box{
		padding: 0px;

	}
	.login-box > .signup{
		float: right;
	}

	.login-box{
		padding: 0px;

	}
}





